on:
  workflow_dispatch:
    inputs:
      skip_release:
        description: 'Skip release related steps? (true/false)'
        required: true
        default: 'true'
      job:
        description: "Which job to run"
        required: true
        type: choice
        default: all
        options:
          - all
          - windows
          - macos
          - linux-wasm
          - linux-android

permissions:
  contents: write

env:
  version: m142-f4ed99d-1

jobs:
  macos:
    if: github.event.inputs.job == 'all' || github.event.inputs.job == 'macos'
    runs-on: ${{ fromJson('{"macos":"macos-13","ios":"macos-13","iosSim":"macos-13","tvos":"macos-13","tvosSim":"macos-13"}')[matrix.target] }}
    strategy:
      matrix:
        target: ["macos", "ios", "iosSim"]
        machine: ["x64", "arm64"]
        build_type: [Release, Debug]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Print Xcode version
        run: xcodebuild -version
      - run: python3 script/checkout.py --version ${{ env.version }}
      - run: python3 script/build.py --build-type ${{ matrix.build_type }} --target ${{ matrix.target }} --machine ${{ matrix.machine }}
      - run: python3 script/archive.py --version ${{ env.version }} --build-type  ${{ matrix.build_type }} --target ${{ matrix.target }} --machine ${{ matrix.machine }}
      - uses: actions/upload-artifact@v4
        with:
          name: Skia-${{ env.version }}-${{ matrix.target }}-${{ matrix.build_type }}-${{ matrix.machine }}.zip
          path: '*.zip'

  linux-wasm:
    if: github.event.inputs.job == 'all' || github.event.inputs.job == 'linux-wasm'
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    strategy:
      matrix:
        build_type: [ Debug, Release ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - run: ./script/prepare_linux_wasm.sh
      - run: python3 script/checkout.py --version ${{ env.version }}
      - run: python3 script/build.py --target wasm --machine wasm --build-type ${{ matrix.build_type }}
      - run: python3 script/archive.py --version ${{ env.version }} --target wasm --machine wasm --build-type ${{ matrix.build_type }}
      - uses: actions/upload-artifact@v4
        with:
          name: Skia-${{ env.version }}-wasm-${{ matrix.build_type }}-wasm.zip
          path: '*.zip'

  linux-android:
    if: github.event.inputs.job == 'all' || github.event.inputs.job == 'linux-android'
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    strategy:
      matrix:
        build_type: [ Debug, Release ]
        machine: ["x64", "arm64"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - run: ./script/prepare_linux.sh
      - run: python3 script/checkout.py --version ${{ env.version }}
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25c
      - run: python3 script/build.py --target android --build-type ${{ matrix.build_type }} --machine ${{ matrix.machine }} --ndk ${{ steps.setup-ndk.outputs.ndk-path }}
      - run: python3 script/archive.py --version ${{ env.version }} --target android --build-type ${{ matrix.build_type }} --machine ${{ matrix.machine }}
      - uses: actions/upload-artifact@v4
        with:
          name: Skia-${{ env.version }}-android-${{ matrix.build_type }}-${{ matrix.machine }}.zip
          path: '*.zip'

  windows:
    if: github.event.inputs.job == 'all' || github.event.inputs.job == 'windows'
    runs-on: [self-hosted, Windows, X64]
    strategy:
      matrix:
#        build_type: [Debug, Release]
#        machine: ["x64", "arm64"]
        build_type: [ Debug ]
        machine: [ "x64" ]
      fail-fast: false
    steps:
      - run: git config --global core.autocrlf input
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - uses: microsoft/setup-msbuild@v1
      - uses: ilammy/msvc-dev-cmd@v1
      - shell: bash
        run: python3 script/checkout.py --version ${{ env.version }}
      - shell: bash
        run: python3 script/build.py --build-type ${{ matrix.build_type }} --target windows --machine ${{ matrix.machine }}
      - shell: bash
        run: python3 script/archive.py --version ${{ env.version }} --build-type ${{ matrix.build_type }} --target windows --machine ${{ matrix.machine }}
      - uses: actions/upload-artifact@v4
        with:
          name: Skia-${{ env.version }}-windows-${{ matrix.build_type }}-${{ matrix.machine }}.zip
          path: '*.zip'
